d{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">#</a>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'scanning/detail.css' %}"/>
</head>

<body>
    <h1>Klasifikasi Sampah Botol Plastik menggunakan Metode CNN</h1>

    <div class="kotak_masuk">
        <div class="gambar_camera">
            <img src="{% static 'images/camera.png' %}" alt="deskripsi gambar">
        </div>
		<p class="wrt">Botol Plastik</p>
 
		<form>
			<div class="detail_container">
                <div class="card1">
                    <p>Ukuran Botol Plastik</p>
                    <img src="{% static 'images/firstbottle.png' %}" alt="">
                    <input type="text" value="200-300 ml">
                </div>
                <div class="card2">
                    <p>Harga Jual Botol Plastik</p>
                    <img src="{% static 'images/secondbottle.png' %}" alt="">
                    <input type="text" value="Rp 200,00">
                </div>
            </div>

            <a href="#" class="back"><i class="fa-solid fa-arrow-left"></i> Kembali</a>

		</form>
		
	</div>

    <script src="{% static 'scanning/index.js' %}"></script>
</body>

</html>